<ion-view view-title="Apple Care">
  <ion-content>
    <div class="applecare-logo">
      <img src="img/applecare.svg">
    </div>
    
    <h1 class="applecare-title">Keep it easy</h1>
    <div class="applecare-description">We'd like to use your health profile of your Health app to guide you :)
    </div>
  </ion-content>
    
    <div class="fixed-bottom-buttons">    
      <button class="button button-block button-next" ng-click="goTuto()">
        Yes, get my preferences
      </button>
      
      <button class="button button-block button-skip" ng-click="goTuto()">
        Nah, skip it
      </button>
    </div>
</ion-view>
