<ion-view view-title="My Personal informations" class="myinfo">
  <ion-content>
  <div class="bar-subheader">
    <div class="myinfo-logo"></div>
    <h2 class="rides-title">Latest roads</h2>
  </div>
    <ion-list ion-scroll="true">
      <ion-item ng-repeat="playlist in playlists" href="#/app/ranking" class="ride type-{{playlist.type}} item">
        <div class="ride-from">
          {{playlist.from}}
        </div>
        <div class="ride-to">
          <span class="ride-prefix-label">to</span>
          {{playlist.to}}
        </div>
        <div class="ride-line"></div>
        <div class="ride-stats">
          <div class="ride-stat type-air">
            <span class="ride-stat-label">Air quality</span>
            <span class="ride-stat-number">{{playlist.air}}<sup>%</sup></span>
          </div>
          <div class="ride-stat type-pollution">
            <span class="ride-stat-label">Pollution</span>
            <span class="ride-stat-number">{{playlist.pollution}}<sup>%</sup></span>
          </div>
          <div class="ride-stat type-allergies">
            <span class="ride-stat-label">Allergies</span>
            <span class="ride-stat-number">{{playlist.allergies}}<sup>%</sup></span>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
