<ion-view view-title="My Personal informations" class="myinfo">
  <div class="bar-subheader">
    <div class="myinfo-logo"></div>
    <h2 class="rides-title">Latest roads</h2>
  </div>
  <ion-content>
    <ion-list ion-scroll="true">
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}" class="ride type-bus">
        <div class="ride-stats"></div>
        <div class="ride-from">
          <span class="ride-prefix-label">from</span>
          Grenoble
        </div>
        <div class="ride-to">
          <span class="ride-prefix-label">to</span>
          Lyon
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
