<ion-view view-title="Welcome on Care">
  <ion-content>    
    <div class="how-logo">
      <img src="img/tuto.svg">
    </div>
    
    <h1 class="how-title">How does it work?</h1>
    <div class="how-description">
      Your favourite transportation apps take your personal health profile to advise you the best itinerary, according to air conditions, pollution rate and meteorological stuff.
      <br>
      <br></div>
    
    <div class="fixed-bottom-buttons">    
      <button class="button button-block button-next" ng-click="goMyInfo()">
        Ok, got it!
      </button>
    </div>
    
  </ion-content>
</ion-view>
